[defaults]
inventory = inventory.yml
host_key_checking = True
timeout = 60
gather_timeout = 60
retry_files_enabled = False
remote_user = root
fact_caching = memory
fact_caching_timeout = 86400

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=30
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
retries = 5
ssh_executable = /usr/bin/ssh
